div(class="container")
	div(class="acerca-container")
		div(class="acerca-container-text")
			h2= acercaDeNosotros[0].titulo
			p= acercaDeNosotros[0].parrafo
			p= acercaDeNosotros[0].parrafo2
			p= acercaDeNosotros[0].parrafo3
			p(class="last-p")= acercaDeNosotros[0].parrafo4
			div(class="sign-up-container")
				a(href="register.html" class="btn sign-up sign-up_main") Registrate ya
