div(class='ed-container')
	div(class='ed-item')
		div(class='accordion-container')
			- for(let i = 0; i < promos.length; i++)
				-if(promos[i].a)
					a(class="a-bonos" href=promos[i].a) 
						h2= promos[i].title
						button(class='accordion-container__btn-acc')
							img(src=`${promos[i].link}`, alt=`${promos[i].name}`)
						
				-else
					h2= promos[i].title
					button(class='accordion-container__btn-acc')
						img(src=`${promos[i].link}`, alt=`${promos[i].name}`)
					div(class='accordion-container__panel')
			div(class="sign-up-container")
				a(href="register.html" class="btn sign-up sign-up_main") Registrate ya
